<nav id="navgation">
  <div class="nav-wrapper">
    <ul class="nav">
      <% for(name in theme.menu) { %>
        <li>
          <% if (url_for(theme.menu[name]) == '/' + path.replace('/index.html', '') || (url_for(theme.menu[name]) == '/' && is_home())) { %>
            <a href="<%- url_for(theme.menu[name]) %>" class="item-link active"><%- name %></a>
          <% } else { %>
            <a href="<%- url_for(theme.menu[name]) %>" class="item-link"><%- name %></a>
          <% } %>
        </li>
      <% } %>
    </ul>
    <span class="logo"></span>
  </div>
</nav>