<section class="page4">
 <div class="grid-auto-wrapper">
  <div class="m-contact-wrap">
   <div class="m-driver">
    <div class="inner">
     <ul>
      <li><a href="http://weibo.com/lishangmou" title="关注Luuman的新浪微博"><i class="u-icon icon-weibo"></i></a></li>
      <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=512769206&amp;site=qq&amp;menu=yes" title="QQ交谈"><i class="u-icon icon-qq"></i></a></li>
      <li><a href="https://github.com/luuman" title="GitHub"><i class="u-icon icon-github"></i></a></li>
     </ul>
    </div>
   </div>
   <div class="m-contact">
    <div class="txt">
     <!-- <p>联系QQ： <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=512769206&amp;site=qq&amp;menu=yes">512769206</a></p>
     <p>唯一网址： <a href="http://luuman.github.io/">http://luuman.github.io/</a></p>
     <p>新浪微博： <a href="http://weibo.com/lishangmou">http://weibo.com/lishangmou</a></p>
     <p>电子邮箱： <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=PAkNDgsKBQ4MCnxNTRJfU1E">512769206#qq.com</a>或 <a href="mailto:luuman@163.com">luuman#163.com</a>(#换为@) </p> -->
     <p class="btn-groups"><a class="btn" rel="title-tip" title="群号：327388215 ">JavaScript交流群</a><a class="btn" rel="title-tip" title="群号：148257606">Mobile交流群</a></p>
    </div>
   </div>
  </div>
 </div>
</section>