<section class="page3">
  <div class="grid-auto-wrapper">
    <div class="m-works-wrap">
     <div class="m-text">
      <div class="inner">
       <h1>不忘 &middot; 初心</h1>
       <p>一切的创造，源于热爱...</p>
       <p>回溯最初，在最简洁中传递情感，在代码里游弋人生...</p>
       <a href="http://luuman.github.io/" class="button">更多作品</a>
      </div>
     </div>
     <div class="m-driver">
      <div class="m-phone shadow"></div>
      <div class="m-phone works">
       <header>
        Latest Works
       </header>
       <div class="post-cover f-img-light-wrap">
        <a href="http://luuman.github.io/"><img src="/img/blog/1431799247.jpg" alt="个人博客界面" /></a>
       </div>
        <div class="post-item">
          <ul>
            <% site.posts.map(function(post, index){ %>
              <% if (index < 6){ %>
                <li><a href="<%- url_for(post.path) %>" title="<%- post.date %>" class="f-toe" rel="title-tip"><%- post.title %></a></li>
              <% } %>
            <% }) %>
          </ul>
        </div>
      </div>
     </div>
    </div>
  </div>
</section>