<section class="page1">
  <%- partial('canvas') %>
  <div class="grid-auto-wrapper page-init">
    <div class="inner tans">
     <h1>2015，最简单的Luuman</h1>
     <h3>Cruising In The Code Of Life</h3>
     <div class="m-driver">
      <div class="inner">
       <span class="logo"></span>
       <a href="http://luuman.github.io/" class="button" name="世平阜康的博客">进入博客</a>
      </div>
     </div>
    </div>
    <a class="next-page" id="next-page-for-init"></a>
  </div>
</section>